<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rojangames.freetextph">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <!-- For appodeal -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />

    <application
        android:name="com.rojangames.freetextph.common.QKSMSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppThemeDark">
        <activity
            android:name="com.rojangames.freetextph.ui.popup.QKComposeActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeLightDialog"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rojangames.freetextph.ui.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:logo="@color/transparent"
            android:windowSoftInputMode="stateUnchanged|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
                <data android:scheme="sms_body" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ui.MainActivity-Teal"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity="com.rojangames.freetextph.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.rojangames.freetextph.ui.welcome.WelcomeActivity"
            android:theme="@style/AppThemeLight" />

        <!-- Popup activity -->
        <activity
            android:name="com.rojangames.freetextph.ui.popup.QKReplyActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/AppThemeLightDialog"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.rojangames.freetextph.ui.mms.SlideshowActivity" />

        <receiver
            android:name="com.rojangames.freetextph.receiver.WearableIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.rojangames.freetextph.receiver.WearableIntentReceiver.REPLY" />
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver for SMS -->
        <receiver
            android:name="com.rojangames.freetextph.receiver.SmsReceiver"
            android:enabled="@bool/hasKitKat"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.rojangames.freetextph.receiver.IconColorReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.rojangames.freetextph.action.PENDING_PACKAGE_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Legacy broadcast receiver for SMS -->
        <receiver
            android:name="com.rojangames.freetextph.receiver.SmsReceiverLegacy"
            android:enabled="@bool/preKitKat">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Broadcast receiver for MMS -->
        <receiver
            android:name="com.rojangames.freetextph.receiver.PushReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.rojangames.freetextph.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.rojangames.freetextph.mmssms.SentReceiver">
            <intent-filter>
                <action android:name="com.rojangames.freetextph.SMS_SENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.rojangames.freetextph.receiver.DeliveredReceiver">
            <intent-filter>
                <action android:name="com.rojangames.freetextph.SMS_DELIVERED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.rojangames.freetextph.receiver.MessageFailedReceiver">
            <intent-filter>
                <action android:name="com.rojangames.freetextph.NOTIFY_SMS_FAILURE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.rojangames.freetextph.receiver.MarkReadReceiver">
            <intent-filter>
                <action android:name="com.rojangames.freetextph.MARK_READ" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.rojangames.freetextph.receiver.MarkSeenReceiver">
            <intent-filter>
                <action android:name="com.rojangames.freetextph.MARK_SEEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.rojangames.freetextph.ui.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.rojangames.freetextph.intent.action.ACTION_NOTIFY_DATASET_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name="com.rojangames.freetextph.receiver.NightModeAutoReceiver" />
        <receiver
            android:name="com.mariussoft.endlessjabber.sdk.EndlessJabberReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.mariussoft.endlessjabber.action.extend" />
            </intent-filter>
        </receiver>

        <service android:name="com.mariussoft.endlessjabber.sdk.EndlessJabberWakefulService" />
        <service android:name="com.rojangames.freetextph.service.DeleteOldMessagesService" />
        <service
            android:name="com.rojangames.freetextph.receiver.UnreadBadgeService"
            android:exported="false" />
        <service android:name="com.rojangames.freetextph.service.ShouldIAnswerService">
            <intent-filter>
                <action android:name="com.rojangames.freetextph.ShouldIAnswerService" />
            </intent-filter>
        </service>

        <!-- Service that delivers messages from the phone "quick response" -->

        <service
            android:name="com.rojangames.freetextph.service.HeadlessSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>

        <service android:name="com.android.mms.transaction.TransactionService" />
        <service android:name="com.rojangames.freetextph.service.NotificationService" />
        <service android:name="com.rojangames.freetextph.service.MarkReadService" />
        <service android:name="com.rojangames.freetextph.service.MarkSeenService" />
        <service android:name="com.rojangames.freetextph.service.DeleteUnreadMessageService" />
        <service android:name="com.rojangames.freetextph.service.CopyUnreadMessageTextService" />
        <service
            android:name="com.rojangames.freetextph.ui.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0" />


        <!-- MONETIZATION START-->

        <meta-data
            android:name="com.appodeal.framework"
            android:value="android" />
        <receiver
            android:name="com.appodeal.ads.AppodealPackageAddedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.appodeal.ads.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.appodeal.ads.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.appodeal.ads.LoaderActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.nexage.sourcekit.mraid.MRAIDBrowser"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />


        <activity
            android:name="com.amazon.device.ads.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name="org.nexage.sourcekit.vast.activity.VASTActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="org.nexage.sourcekit.vast.activity.VPAIDActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.appodeal.ads.networks.vpaid.VPAIDActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name="com.appodeal.ads.networks.SpotXActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />



        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.jirbo.adcolony.AdColonyOverlay"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.jirbo.adcolony.AdColonyFullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.jirbo.adcolony.AdColonyBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.vungle.publisher.FullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.OverlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.startapp.android.publish.FullScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme" />
        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.yandex.mobile.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <!--suppress AndroidDomInspection -->
        <activity
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity
            android:name="com.appodeal.ads.VideoPlayerActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />


        <!-- MONETIZATION END -->

    </application>

</manifest>
